body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #0c0c0c;
  background-color: #849d8f;
  margin: 0;
}
body > input[type="radio"] {
  display: none;
}

.page-wrapper { 

 background: #849d8f  no-repeat top center;
 transition: background-image 0.5s ease, background-color 0.5s ease;

} 
.main {
  width: 1200px;
  margin: 0 auto;

}
.top-main {
    width: 1200px;
  margin: 0 auto;
}
h1 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;                  
}
h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  margin-top: 17px;
  margin-bottom: 0;
  font-weight: 600px;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.top-case {
  padding: 0 27px;
 position: relative;
}
.logo {
  /*min-height: 112px;*/
  float: left;
  margin-top: 10px;
  
}

.bread-crumbs-title {
  float: left;
  position: absolute;
  top: 85px;
  left: -20px;
}
.time {
  width: 170px;
  position: absolute;
  vertical-align: bottom;
  text-align: right;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding-top: 18px;
  padding-left: 93px;
  z-index: 10;
  right: 25px;
  top: 55px;
}
.time-telephone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}
.time p {
  margin: 0;
  margin-bottom: 4px;
}

.user {
  min-width: 253px;
  float: right;
  font-size: 14px;
  line-height: 16px;
  padding-top: 23px; 
 }
.user div  {
  display: inline-block;
 
}
.slider {
  margin-bottom: 54px;
  text-align: center;
  position: relative;   
  padding-top: 270px;
  height: 200px;
}
.slider h1 {
  width: 700px;
  font-size: 60px;
  font-weight: 800;
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 60px;
}
.slide {
  display: none;
}
#btn-1:checked ~ .page-wrapper #slide1,
#btn-2:checked ~ .page-wrapper #slide2,
#btn-3:checked ~ .page-wrapper #slide3 {
  display: block;
}
#btn-1:checked ~ .page-wrapper label[for="btn-1"],
#btn-2:checked ~ .page-wrapper label[for="btn-2"],
#btn-3:checked ~ .page-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
#btn-1:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#btn-2:checked ~ .page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#btn-3:checked ~ .page-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}
.page-wrapper::before,
.page-wrapper::after {
  content: "";

  visibility: hidden;
}

.page-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.page-wrapper::after {
  background-image: url("../img/slider-3.png");
}
.offers {
  padding: 0 27px;
}
.raspberry {
  width: 524px;
  float: left;
  padding: 0 18px;
  height: 229px;
  margin-bottom: 30px;
  background: #96000f url("../img/raspberry_background.jpg") no-repeat;
  border-radius: 15px;
  margin-right: 13px;
  
}
.choco {
  height: 229px;
  width: 524px;
  padding: 0 18px;
  float: right;   
  margin-bottom: 30px;
  margin-left: 13px;
  background: #6e4029 url("../img/choco_background.jpg")no-repeat;
  border-radius: 15px;
}
.offer {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  position: relative;
}
.btn {
  color: #ffffff;
  background-color: #f16542;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 11px 22px;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.offers-btn {
  right: 22px;
  position: absolute;
  top: 160px;
}
.offers p {
  margin-top: 15px;
}
.pages-wrapper {
  margin: 0 auto;
  width: 1200px;
  padding: 0 14px;
}


.product-card {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 293px;
  min-height: 362px;

}

.product-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  width: 293px;
  min-height: 409px;
  padding: 9px 13px 21px 13px;
  border-radius: 5px;
  z-index: 40;

}
.offer-look {
  position: absolute;
  display: none;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 11px;
  width: 200px;
  height: 44px;
  text-align: center;
  text-decoration: none;
  color: #fefefe;
  font-size: 18px;
  line-height: 22px;
  border-radius: 18px / 22px 22px 22px 22px;
  background-clip: padding-box;
  background-color: #e74d37;
  box-shadow: 0 1px 2px #ab1000;
  background-image: linear-gradient(bottom, #e74a35 0%, #f16843 100%);



  display: none;
}
.product-card:hover .product-item {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 50

} 
.product-card:hover .offer-look {
 display: block;
  z-index: 95;
}
 .product-hit::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 13px;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  border-radius: 50%;
  z-index: 50;

}
.less {
  font-size: 30px;
}
.rubles {
 position: absolute;
  top: 180px;
  left: 13px;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
  margin-bottom: 0;
}
 .ruble { 
  color: #fff;
  font-weight: 700;
  margin-right: 0;
  padding-right: 35px;
  font-size: 45px;
  line-height: 45px;
}
.ruble::after {
  content: "";
  background: url(../img/ruble.png) no-repeat;
  width: 27px;
  height: 35px;
  position: absolute;
  top: 6px;
  left: 81px;
}

.item {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  position: relative;
  width: 267px;
  margin-right: 26px;
  display: inline-block;
  vertical-align: top;


}
.product-item-content a {
  padding-left: 13px;
  line-height: 22px;
  font-size: 16px;
  color: #ffffff;
}
.product-item-content {
  min-height: 320px;
  position: absolute;
  left: 0;
  top: 10px;
}
.menu-item-link,
.item-active {
  font-weight: 700;
}
section.about {
  width: 1126px;
  margin:0 27px; 
  margin-bottom: 38px;
  background: url("../img/waffles-background.jpg"); 
  border-radius: 15px;  
  color: #353535;
  font-size: 0;
  padding-left: 20px;
  padding-top: 3px;
  margin-top: 11px;
}
.about p {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-left: 56px;
  font-size: 16px;
  line-height: 22px;
  padding-right: 13px;
  box-sizing: border-box;
  position: relative;
  margin: 0;
}
.ice-cream-icon {
  background: url("../img/ice-cream-icon.png") no-repeat;
  background-position-y: 7px;
  padding-top: 19px;
  padding-bottom: 12px;
}
.leaves-icon {
  background: url("../img/leaves-icon.png") no-repeat;
  background-position-y: 0px;
  padding-top: 11px;
  padding-bottom: 25px;
}
.cow-icon {
  background: url("../img/Cow-icon.png") no-repeat;
  background-position-y: 6px;
  background-position-x: 4px;
  padding-top: 19px;
  padding-bottom: 12px;
}
.thermometer-icon {
  background: url("../img/Thermometer-icon.png") no-repeat;
  background-position-y: 0px;
  background-position-x: 2px;
  padding-top: 14px;
  padding-bottom: 25px;
}
section h3 {
  color: #353535;
  font-size: 24px;
  line-height: 30px; 
  margin-bottom: 0px;
}
.new {
  width: 512px;
  height: 214px;
  float: left;
  margin-right: 13px;
  margin-bottom: 40px;
  background: url("../img/background-news.jpg") no-repeat;
  padding: 6px 27px 0 20px;
  border-radius: 14px;
  font-size: 16px;
  color: #353535;
  line-height: 22px;
  font-weight: 600;
}
.new p {
  margin-bottom: 4px;
  margin-top: 19px;
}
.news {
  font-size: 24px;
  line-height: 30px;
  color: #353535;
  font-weight: 700; 
  display: inline-block;
  max-width: 287px;  
}
.post {
  height: 211px;
  background-color: #f8f7f4;
  background-image: url("../img/post.png") ;
  float: right;
  width: 547px;
  border-radius: 14px;
  padding: 5px 6px;
  margin-right: 2px;

}
.post-wrap {  
  padding: 12px 20px 34px 21px;
  background-color: #f8f7f4;
  vertical-align: middle;
  border-radius: 10px;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
 
}
.post-wrap p {
  padding-bottom: 22px;
}
.mail {
  border-color: #d2d2d1;
  width: 349px;
  margin-right: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  border: 1px solid rgba(70, 70, 70, 0.48);
  border-radius: 8px;
  min-height: 27px;
  font-size: 16px;
  line-height: 24px;

}
.location {
  background-image: url("../img/map.jpg");
  height: 430px; 
  width: 1200px;
  margin: 0 auto;
  
}
.data {
  width: 254px;
  height: 305px;
  padding: 0 24px;
  float: right;
  margin-right: 27px;  
  background-color: white;
  border-radius: 5%;
  margin-top: 60px;

}
.address-first {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

.address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding-top: 5px;
}
.time-block p {
  margin: 0;
}
.time-block {
  margin-top: 19px;
  margin-bottom: 25px;
}
.address-block p {
  margin: 0;
}
.address-block {
  margin-top: 31px;
}
.footer {
  margin-top: 20px; 
  min-height: 105px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  
}
.social {
  margin-left: 29px;
  float: left;
  padding-top: 36px;
  margin-right: 205px;
}
.social a {
  display: inline-block;
  width: 31px;
  height: 31px;
  font-size: 0;
  margin-right: 7px;
  border: 3px solid rgba(194, 206, 199, 1.0);
  vertical-align: bottom;
  border-radius: 50%;
  opacity: 0.8;

}
.social a:hover {
  opacity: 1.0;
}
.social a:active {
  opacity: 1.0;
  box-shadow: inset 0px 2px 1px #888889;
}
.footer-navigation {
  width: 360px;
  display: inline-block;
  vertical-align: middle;
  bottom: 0px;
  font-size: 0;
  margin-bottom: 29px;
  margin-top: 12px;
  padding-top: 19px;
  padding-left: 2px;
  box-sizing: border-box;
}
.made {
  width: 195px;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  float: right;
  padding-right: 21px;
  padding-top: 18px;
}
.made p {
  margin:0;
}
.made a {  
  color: #ffffff;
}

.forms {  
  height: 140px;   
  margin: 0 auto; 
  padding: 0 27px;
}
.form-wrapper {
  width: 868px;
}
.sort {
  float: left;
  
}
.price-filter {
  width: 220px;
  float: left;
  margin-right:10px; 
 
}
.fat {
  width: 418px;
  float: right;
   margin-right: 36px;
}
.fills {
  
  float: left;
  
}
.fills-button {
  width: 142px;
  float: left; 
  vertical-align: bottom; 
}
.catalog {
  clear: both;  
  margin-bottom: 0px;
  margin-top: 23px;
  margin-left: 0;
  margin-right: 0;
}
.pagination {
  margin-top: 51px;
  padding-bottom: 29px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: right; 
  padding-right: 7px;
  line-height: 18px;
  font-size: 16px;
  margin-bottom: 0px;

 
} 
.pagination ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0px;
}
.pagination li {
  display: inline-block; 
  vertical-align: top; 
  font-size: 16px;
  font-weight: 500px;
}
.pagination a {
  display: block;
  text-align: center;
  line-height: 28px;
  width: 28px;
  height: 28px;
  color:  #ffffff;
  text-decoration: none;
  border-radius: 50%;
}
.pagination li:last-child {
  margin-left: 0;
}

.pagination a:hover {
  background-color:  rgba(255, 255, 255, 0.2);
}

.pagination a:active {
  color:  #323232;
  background-color: #ffffff;
}

.pagination .active a {
   color:  #0a0a0a;
   background-color: #ffffff;
   border-radius: 50%;
}

.back {
  color: #a1b0a5;
  text-align: center;
  text-align: center;
  line-height: 28px;
  width: 28px;
  height: 28px;
}


div.basket-tooltip {
  position: absolute;
  display: none;
  background-color: #f7f7f4;
  width: 517px;
  min-height:200px;
  right: 0px;
  top: 40px;
  color: black;  
  padding: 19px 14px;
  z-index: 15;
  border-radius: 5px;
  font-size: 13px;
  line-height: 16px;
}
.basket-tooltip::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0;
}

div a.product-order {
  color: black;
  width: 220px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 12px;
}
.result {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  padding-top:35px;
  float: right;
  padding-right: 15px;
}
.order-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.item-one {
  position: absolute;
  left: 0px;
  top: 19px;
}
.item-two {
  left: 0px;
  position: absolute;
  top: 75px;
}
.product-order-one {
  position: absolute;
  top: 28px;
  left: 75px;
}
.product-order-two {
  position: absolute;
  top: 80px;
  left: 75px;
}
.count-one {
  position: absolute;
  top: 28px;
  right: 115px;
}
.count-two {
  top: 80px;
  position: absolute;
  right: 115px;
}
.total-two {
  position: absolute;
  right: 40px;
  top: 80px;
}
.total-one {
  position: absolute;
  top: 28px;
  right: 40px;
}
.summary {
  position: absolute;
  right: 15px;
  top: 148px;
}


.result {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  
}
.delete {
  width: 11px;
  height: 11px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 18px;
  top: 30px;
  background: url(../img/delete.png) no-repeat;
}
.delete-second {
  background: url(../img/delete.png) no-repeat;
  top: 84px;
}
.price-basket {
  color: #cccbca;
}
.order::after {
  content: "";
  width: 511px;
  height: 1px;
  background-color: #cacac7;
  position: absolute;
  top: 130px;
  left: 15px;
}

.basket-order:hover .basket-tooltip {
  display: block;
}
.basket-tooltip img {
 vertical-align: bottom;
 padding: 0;
 margin-left: 41px;
}
.basket-order {
float: right;
position: relative;
}
.main-index {
  margin-top: 22px;
}

.bread-crumbs-items {
 margin-left: 6px;
}
.top-main a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block; 

}

.navigation {
  min-width: 480px;
  float: left; 
  font-size: 16px;
  line-height: 18px;
  padding-left: 11px;
  margin-top: 24px;

}
.navigation ul {
  margin:0;
  padding: 0;
  font-size: 0;
  
}
.navigation a {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  padding: 7px 13px;
  display: block;
  text-align: left; 

}

 .modal {
  
  margin: 0;
  padding: 0;
  width: 453px;
  min-height: 441px;
  font-size: 24px;
  line-height: 28px;
  background-color: #f7f7f4;
  border-radius: 10px;
  padding-left: 24px;
  z-index: 80;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: none; 
}
.modal h5 {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 22px;
}
.modal input[type="text"],
.modal input[type="email"] {
  width: 267px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 14px;
  min-height: 29px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  color: #979797;
  border: 1px solid #d2d2d1;
  border-radius: 5px;
  margin-bottom: 20px;
}
textarea {
  width: 411px;
  min-height: 153px;
  color: #979797;
  border: 1px solid #d2d2d1;
  border-radius: 5px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 14px;
  margin-bottom: 22px;
}
.modal input[type="text"]:hover,
.modal input[type="email"]:hover,
.modal textarea:hover {
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 13px;
  border: 2px solid rgba(56, 74, 93, 0.48); 
}
input:focus { 
  border-color: #cbe0f6;
}
.modal input[type="text"]:focus,
.modal input[type="email"]:focus,
.modal textarea:focus {
  border-color: #cbe0f6;
  color: #000000;
}
.login-enter input[type="password"]:hover,
.login-enter input[type="email"]:hover {
  padding: 8px 12px;
  border: 1px solid rgba(56, 74, 93, 0.48); 
}
.login-enter input[type="password"]:focus,
.login-enter input[type="email"]:focus {
  border: 1px solid #cbe0f6;
  color: #000000;

}
.menu-item-link:hover {
  background-color: white;
  color: black;
  border-radius: 45px; 
  
}
.login {  
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding-left: 45px;
  position: relative;
  width: 33px;
  vertical-align: top;
  padding-bottom: 7px;
  padding-right: 17px;
  padding-top: 8px;
  margin-right: 8px;
  padding-left: 42px;
  font-size: 14px;
  line-height: 16px;
 }
.login::before {
  content: "";
  width: 30px;
  height: 25px;
  position: absolute;
  top: 7px;
  left: 15px;
  background:  url("../img/enter.png") no-repeat;
}

.login:hover::before {
  background: url(../img/enter-black.png) no-repeat;
  background-position-x: 17%; 
  background-position-y: 43%;  
  background-color: #ffffff;
  color: black;
  border-radius: 40px;
  width: 33px;
  vertical-align: top;
  padding-right: 17px;
  padding-top: 8px;
  margin-right: 8px;
  padding-left: 42px;
  top: 0px;
  left: 0px;


}
.login-enter {
  
  right: -3px;
  min-height: 176px;
  min-width: 277px;
  padding: 19px 17px 19px 19px;
  font-size: 18px;
  line-height: 24px;  
  background-color: #f7f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: 65;
  border-radius: 5px;

  
}
.login-enter input {
  width: 100%;
  min-height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #d2d2d1;
  padding: 9px 13px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
}
.login-enter-href a {
  
  width: 120px;
  text-align: left;
  color: #363636;
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
  display: block;
  padding: 0;
  padding-left: 20px;
}
.login-enter-btn {
/*margin-top: 19px;*/
  float: left;
}

.login:hover .login-enter {
  position: absolute;
  z-index: 80;
  display: block;
  box-sizing: border-box;
  top: 40px;
  
}
.login-enter-href::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0px;

}
.login-enter-href {
  float: right;
}

.login:hover a {
  color: black;
  position: relative;
}

.search-block-trigger {
  vertical-align: middle;  
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  vertical-align: top;
}

.search-block-trigger::before {
  content: "";
  width: 18px;
  height: 20px;
  position: absolute;
  top: 8px;
  left: 7px;
  background: url("../img/loupe.png") no-repeat; 
  z-index: 20;
}
.search-block-trigger:hover::before {   
  color: black;
  background-image: url(../img/loupe-black.png); 
  background-repeat: no-repeat;  
  background-position: center;
  background-color: #ffffff;
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 40px;
  margin-right: 8px;
  top: 0px;
  left: 0px;
} 
.search-form {
  position: absolute;
  background-color: #fefefe;
  display: none;
  margin: 0;
  padding: 0;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: 65;
  border-radius: 5px;
  background-color: #f7f7f4;

  
}
.user-form {
  display: block;
}
.search-form input {
  position: relative;
  width: 294px;
  margin: 20px 15px;  
  min-height: 44px;
  border-radius: 5px;
  border: 1px solid #d2d2d1;
  padding-left: 13px;
  font-size: 14px;
  line-height: 24px;
  
}
.search-form {
  top: 54px;
  right: 255px;
}
.search-block:hover .search-form {
  margin-top: 4px;
  z-index: 60;
  display: block;
  box-sizing: border-box;

}
.search-form::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0;
}


.basket {
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 37px;
  position: relative;
  min-width: 41px;
  padding-left: 44px;
  text-align: center;
  padding-top: 9px;
  padding-right: 33px;
  padding-bottom: 8px;
}


.basket::before {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  background:  url("../img/basket.png") no-repeat;
  right: 77px;
  top: 7px;
}
.basket:hover::before {
  color: black;
  background-color: #ffffff;
  background: url("../img/basket-black.png") no-repeat;
  
  position: absolute;
  min-width: 41px;
  text-align: center; 
  top: 7px;
  right: 60px;
}
.basket:hover {
  border-radius: 37px;
  position: relative;
  min-width: 41px;
  padding-left: 44px;
  text-align: center;
  padding-top: 9px;
  padding-right: 33px;
  padding-bottom: 10px;
  background-color: #ffffff;
  color: black; 
}
.basket-toggle {
  background-color: #f7f6f3;
  font-weight: 600;

  padding-right: 16px;
}
a.basket-toggle {
  color: #050505;
}
.basket-toggle::before {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  background: url("../img/basket-full.png") no-repeat;
  left: 16px;
  top: 7px;
  padding:0;
}
.basket-toggle:hover::before {
  position: absolute;
  background: url("../img/basket-full.png") no-repeat;
  left: 16px;
  top: 7px;
  
}
.basket-toggle:hover {
  padding-right: 16px;
  padding-bottom: 8px;
}
.basket-order {
vertical-align: top;

}
.product-img {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 267px;
  height: 267px;
  border-radius: 50%;
  overflow: hidden;
}
.product-card img {
  display: block;
  width: 100%;

  /*width: 265px;
  height: 265px;
  border-radius: 145px;*/
}

.send {
  padding: 10px 16px;
 float: right;

}
.slider-btn {
  display: inline-block;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
 
}
.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 8px;
  left: 28px;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.contact {
  display: inline-block;
  font-size: 12px; 
  line-height:18px;
  color: #ffffff;
  padding-left: 23px;
  margin-right: 0;
  min-width: 140px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 18px;

}
.heart {
  font-weight: 700;
  background: url("../img/heart-icon.png") no-repeat;
  background-position-y: 5px;
}


.send-btn {
  float: right;
  margin-right: 25px;
  margin-bottom: 25px;
}
.modal-close {
  width: 17px;
  height: 17px;
  font-size: 0;
  cursor: pointer;
  border: 0;
  position: absolute;
  top: 12px;
  right: 17px;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #000000;
  top: 9px;
  right: 0px;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}


.menu >li {
  
  display: inline-block;
  vertical-align: top;
}
.menu-item a {
  position: relative;
}
.menu-item :after { 
  content: "";
  position: absolute;       
  left: 13px;
  right: 13px;
  height: 1px;
  background-color: rgba(247,242,242,0.3);
  bottom: 7px;
}
.submenu {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 143px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.3);
  display: none;     
  z-index: 80;     
  overflow: hidden;
}

.submenu a {
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  padding: 11px 20px 10px 20px;

}
.submenu li {
  padding: 0;
}
.submenu a:hover {
  background-color: #fbded8;
  width: 103px;
}
.submenu a:focus {
  background-color: #f6b5a5;
  width: 103px;
}

.menu-item:hover .submenu {
  display:block;
  margin-top: 5px;
} 
.menu-item {
  margin-bottom: 45px;
}
.bread-crumbs li,
.bread-crumbs a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  margin-right: 2px;
  vertical-align: top;

}

.bread-crumbs ul {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 2px;
  padding: 0;
}

.bread-crumbs li {
  display: inline-block;
  vertical-align: top;
}
.bread-crumbs a:hover,
.bread-crumbs a:active {
  color: #ffbc9e;
}
.bread-crumbs a {
text-decoration: underline;
}
.first-line {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  color: #ffffff;
  min-width: 895px;
  
}
.user-form {
  display: none;
}
.sort {
  margin: 0;
  padding: 0;
  width: 193px;
  min-height: 36px;
  overflow: hidden;  
  margin-right: 15px;
}
.sort-name {
  margin-bottom: 7px;
  padding-left: 16px;
}
.sort-wrapper {
  margin: 0;
  background-color: #a9bab0;
  min-height: 28px;
  border-radius: 45px;
  color: #ffffff;
  padding-left: 14px;
  padding-top: 8px;

}
.sort-items {
padding: 0;
margin: 0;
border: none;
background-color: rgba(255,255,255,0);
outline: none;
display: block;
color: #ffffff;
vertical-align: middle;
font-size: 16px;
line-height: 22px;
min-width: 170px;


}
.sort-items:hover option {
  color: black;
  background-color: #ffffff;
  width: 192px;
}
.cost-filter {
  position: relative;
  width: 206px;
  height: 19px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  padding-top: 16px;
  padding-left: 15px;

}

.cost-filter .scale {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 188px;
  height: 4px;
  background-color: #ffffff;
  opacity: 0.5;
}

.cost-filter .bar {
  position: absolute;
  top: 16px;
  left: 44px;
  width: 98px;
  height: 4px;
  background-color: #ffffff;
}

.cost-filter .range-toggle {
  position: absolute;
  top: 8px;
  left: 34px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.cost-filter .range-toggle:last-child {
  position: absolute;
  top: 8px;
  left: 132px;
}


.fills-button {
  margin: 0;
  margin-left: 17px;
  padding: 5px 25px 5px 25px;
  font-weight: 500;
  background-color: #a9bab0;
  border: 2px solid white;
  min-height: 37px;
  border-radius: 45px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.fills-button:hover {
  color: #353535;
  background-color: #ffffff;
}
.fills-button:active {
  padding: 7px 28px 7px 30px;
  box-shadow: inset 0px 2px 1px #696969;
  color: #353535;
  background-color: #eaeaea;
  border: 0;  
}
.fat .fat-container {
  min-height: 16px;
  padding: 10px 16px 10px 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}
.fat input[type="radio"] + label {
  margin-bottom: 10px;
  margin-right: 20px;
  padding-left: 31px;
  position: relative; 
  cursor: pointer;
}
.fat input[type="radio"] + label:last-child {
  margin-right: 0;
}

.fat input[type="radio"] + label::before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  top: -1px;
  left: 1px;
  border: 1px solid rgba(255, 255, 255, 1);
  position: absolute;
  border-radius: 50%;
}

.fat input[type="radio"] + label:hover::before {
  width: 17px;
  height: 17px;
  border: 2px solid rgba(255, 255, 255, 1);
} 

.fat input,
.fills input {
  display: none;
}

.fat input[type="radio"]:checked + label::after {
  content: "";
  width: 13px;
  height: 13px;
  top: 3px;
  left: 5px;
  border-radius: 50%;
  position: absolute;
  border-radius: 50%;
  background-color:  rgba(255, 255, 255, 1);
}
.second-line {
  color: #ffffff;
  font-size: 14px;

}
.fills-ice-cream .fills {
  min-height: 16px;
  padding: 12px 18px 7px 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  font-size: 16px;
  line-height: 18px;
}
.fills-ice-cream input[type="checkbox"] + label {
  margin-bottom: 10px;
  margin-right: 18px;
  padding-left: 32px;
  position: relative; 
  cursor: pointer;
  position: relative;
}

.fills-ice-cream input[type="checkbox"] + label:last-child {
  margin-right: 0;
}

.fills-ice-cream input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: -1px;
  left: -1px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 3px;  
}

.fills-ice-cream input[type="checkbox"]:checked + label::after {
  content: "";
  width: 14px;
  height: 10px;
  top: 3px;
  left: 2px;
  background-image: url(../img/checkbox-onn.png);
  background-repeat: no-repeat;
  position: absolute;
}

.fills-ice-cream input[type="checkbox"] + label:hover::before {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 1);
} 
.fills-name {
  margin-bottom: 2px;
  padding-left: 16px;
}
.tw,
.inst,
.vk,
.fb {
  display: inline-block;
  background-color: #ffffff;
  border: 4px solid #a9b6ad;
  min-width: 32px;
  font-size: 0;
  min-height: 32px;
  border-radius: 40px;
  vertical-align:middle; 
}
.tw {
  background: url(../img/tw-icon.png) no-repeat;
  
}
.inst {
  background: url(../img/insta-icon.png) no-repeat;
}
.vk {
  background: url(../img/vk-icon.png) no-repeat;
}
.fb {
  background: url(../img/fb-icon.png) no-repeat;
}
.feedback {
  padding: 9px 28px;
}
.catalog-ice {
  margin-top: 19px;
  margin-left: 27px;
}

.link-active {
  background-color: #ba6f5a;
  border-radius: 45px;
  text-decoration: none;
  padding: 7px 13px;
}

.product-item:nth-child(4n) {
  margin-right: 0;
  padding-right: 0;
}
.item-active::after {
  content: "";
  position: absolute;
  top: 39px;
  right: 9px;
  left: 9px;
  height: 2px;
  background-color: rgba(176, 176, 173, 0.3);

}

.blog {
  padding-left: 27px;
  padding-right: 27px;
}

.catalog {

font-size: 0;

}



